@import "iconfont.styl"
/* 颜色变量 */
$theme = #4B77BE
$theme-hover = #6096ED
$theme-dark = #6096ED
$theme-dark-hover = #9DBFF5
$alert = #FF7B52
$running = #05B168
$stop = #978B80

$color-FF = #FFFFFF
$color-F5 = #F5F5F5
$color-EB = #EBEBEB
$color-DF = #DFDFDF
$color-DE = #DEDEDE
$color-C9 = #C9C9C9

$color-A8 = #A8AFBC
$color-5C = #5C6983
$color-3A = #3A465A
$color-2A = #2A3345

/* 常用函数 */
//--前缀
prefix(prop, args) {
  -ms-{prop} args
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
}

//--通用
b-box-shadow() {
  prefix('box-shadow', arguments);
}

b-border-radius() {
  prefix('border-radius', arguments);
}

b-transform() {
  prefix('transform', arguments);
}

b-transform-origin() {
  prefix('transform-origin', arguments);
}

b-transition() {
  prefix('transition', arguments);
}

b-animation() {
  prefix('animation', arguments);
}

$base-font-family = "PingFang SC", "微软雅黑";
//--重置

* {
  box-sizing border-box
  -ms-box-sizing border-box
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, li, pre, fieldset, legend, button, input, textarea, form, th, td, button {
  margin 0;
  padding 0;
  font-family $base-font-family;
  font-weight 400;
}

html, body {
  height 100%
}

body {
  position relative
  font-size 12px
  background $color-DE
  color $color-5C
  overflow hidden
}

ul, ol {
  list-style none
  margin 0
  padding 0
}

pre {
  white-space normal
}

a {
  color $theme
  cursor pointer
  text-decoration none
  &:hover {
    color $theme-hover
  }
}

input, button {
  outline none
  border none
  background-color transparent
}

input {
  color $color-2A
}

input {
  background-color $color-F5
}

input[placeholder], textarea[placeholder] {
  color $color-A8
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color $color-A8
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color $color-A8
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color $color-A8
}

h4 {
  font-size 16px
}

h5 {
  font-size 14px
}

h6 {
  font-size 12px
}

.hide {
  display none
}

// login
.login-content {
  position absolute
  display flex
  width 760px
  height 304px
  top 50%
  left 50%
  margin-left -380px
  margin-top -152px
  b-border-radius(4px)
  b-box-shadow(0 7px 40px 0 rgba(0, 0, 0, .2))
  & .abort-box, & .login-box {
    position relative
    flex 1
    &:before, &:after {
      position absolute
      content ''
      b-border-radius(50%)
    }
  }
  & .abort-box {
    background-color $color-3A
    b-border-radius(4px 0 0 4px)
    &:before {
      width 286px
      height 286px
      z-index -1
      top 0
      left 0
      margin-top -87px
      margin-left -153px
      background linear-gradient(135deg, #F58D8D 20%, #A13636 70%)
    }
    &:after {
      width 94px
      height 94px
      z-index -2
      top 0
      left 74px
      margin-top -60px
      background linear-gradient(140deg, #E4B481 5%, #805D38 70%)
    }
    & .project-title {
      color $color-F5
      text-align center
      padding 50px 0 24px
    }
    & .scroll {
      position relative
      width 100%
      height 140px
      overflow hidden
    }
    & .scroll-box {
      position absolute
      left 0
      top 0
      width calc(380px * 5)
      & .scroll-item {
        float left
        width 380px
        text-align center
        color $color-F5
        & .iconfont {
          display block
          height 50px
          background-repeat no-repeat
          background-position center top
          background-size contain
          &.icon-login-1 {
            background-image url("./img/i-p1.png")
          }
          &.icon-login-2 {
            background-image url("./img/i-p2.png")
          }
          &.icon-login-3 {
            background-image url("./img/i-p3.png")
          }
          &.icon-login-4 {
            background-image url("./img/i-p4.png")
          }
        }
        & .scroll-text {
          padding-top 20px
          line-height 20px
        }
      }
    }
    & .scroll-ul {
      text-align center
      & .scroll-li {
        cursor pointer
        display inline-block
        vertical-align middle
        width 8px
        height 8px
        margin 0 5px
        background $color-A8
        b-border-radius(50%)
        &:hover, &.active {
          background $theme
        }
      }
    }
  }
  & .login-box {
    position relative
    padding-top 30px
    background-color $color-F5
    b-border-radius(0 4px 4px 0)
    &:before {
      width 314px
      height 314px
      z-index -1
      bottom 0
      left 0
      margin-bottom -82px
      margin-left -157px
      background linear-gradient(135deg, #D9DC31 40%, #68B587 90%)
    }
    &:after {
      width 755px
      height 755px
      z-index -2
      top -15px
      left 67px
      background linear-gradient(140deg, #5471DB, #34A8CB 65%)
    }
    & .form-item {
      padding 20px 20px 0
      & .item-title {
        font-weight 500
        color $color-3A
      }
      & .item-content {
        padding-top 5px
      }
      & .item-des {
        padding-top 3px
        &.alert {
          color $alert
        }
      }
      .input-box {
        position relative
        width 100%
        & input {
          width 100%
          color $color-5C
          padding-bottom 2px
          border-bottom 2px solid $color-A8
          &:hover {
            border-color $theme
          }
        }
      }
      & .all-item-des {
        padding-top 10px
      }
      &.pass-form {
        & input {
          padding-right 15px
        }
        & .input-box {
          position relative
          & .iconfont {
            position absolute
            right 0px
            bottom 2px
            font-size 12px
            cursor pointer
            &:hover, &.active {
              color $theme
            }
          }
        }
      }
    }
    & .btn {
      position absolute
      bottom 50px
      left 50%
      margin-left -50px
      font-size 12px
      border none
      cursor pointer
      b-border-radius(15px)
      line-height normal
      &.btn-line {
        width 100px
        line-height 30px
        color $theme
        border 1px solid $theme
        &:hover {
          color $theme-hover
          border-color $theme-hover
        }
      }

    }
  }
}
