body {
  margin: 0;
}

.impowerBox .qrcode {
  width: 200px;
  border: none;
  margin-top: 16px;
}

.impowerBox .title {
  color: #909399;
  font-size: 12px;
}

.impowerBox .info {
  display: none;
}
