/* 颜色变量 */
$theme = #4B77BE
$theme-hover = #6096ED
$theme-dark = #6096ED
$theme-dark-hover = #9DBFF5
$alert = #FF7B52
$running = #05B168
$stop = #978B80

$color-FF = #FFFFFF
$color-F5 = #F5F5F5
$color-EB = #EBEBEB
$color-DF = #DFDFDF
$color-DE = #DEDEDE
$color-C9 = #C9C9C9

$color-A8 = #A8AFBC
$color-5C = #5C6983
$color-3A = #3A465A
$color-2A = #2A3345
