// 等宽字体
$font-family-monospace = "Helvetica Neue", Menlo, Monaco, Consolas, "Courier New", monospace;

// 网站字体
// 在苹果电脑使用默认字体（-apple-system, BlinkMacSystemFont 是在 Chrome 中实现调用 Apple 的系统字体），
// 在win7以上使用微软雅黑，在xp使用黑体Arial，在IOS9以上使用PingFang SC，在IOS9以下使用Hiragino Sans GB冬青黑简体，在安卓上使用Roboto思源黑体
$font-family-base = -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', Roboto, Arial, 'Microsoft YaHei', sans-serif;
$font-family-web = $font-family-base

// 字体大小
$font-size-base = 14px
$font-size-large = 16px
$font-size-small = 12px

// 网站设计规范
$font-size-h1 = 22px
$font-size-h2 = 20px
$font-size-h3 = 18px
$font-size-h4 = 16px
$font-size-h5 = 14px
$font-size-h6 = 12px
