/* 常用函数 */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
li,
pre,
fieldset,
legend,
button,
input,
textarea,
form,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "微软雅黑";
  font-weight: 400;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  font-size: 12px;
  background: #fff;
  color: #3a465a;
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
a {
  border: none;
  cursor: pointer;
}
img {
  border: none;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.hide {
  display: none;
}
