html, body, h1, h2, h3, h4, h5, h6, th, td {
  margin 0;
  padding 0;
  font-weight 400;
}

body {
  width 100%
  font-size 12px
}

h1 {
  font-size 22px
}

h2 {
  font-size 20px
}

h3 {
  font-size 18px
}

h4 {
  font-size 16px
}

h5 {
  font-size 14px
}

h6 {
  font-size 12px
}

.hide {
  display none!important
}

.container {
  width 960px
  margin 0 auto
  padding 70px 0
  color #222
}
.api-title {
  padding-bottom 15px
  border-bottom 1px solid #dedede
}
.content-box {
  padding-top 20px
  & .content-title {
    position relative
    padding-left 22px
    color #a5a5a5
    &:before {
      position absolute
      content ''
      width 14px
      height 14px
      border-radius 50%
      left 0
      top 50%
      margin-top -7px
      background-color #a5a5a5
    }
  }
  & .content-item {
    padding 20px 0 0 38px
    & .item-title {
      position relative
      &:before {
        position absolute
        content ''
        width 8px
        height 8px
        border-radius 50%
        left -16px
        top 50%
        margin-top -4px
        background-color #222
      }
    }
    & .no-msg {
      margin-top 16px
    }
    & .normal-table {
      width 100%
      margin-top 16px
      border-spacing 0
      border-collapse separate
      text-align left
      border 1px solid rgba(34, 34, 34, .15)
      & tr th, & tr td {
        padding 6px 8px
        border-bottom 1px solid rgba(34, 34, 34, .15)
        border-left 1px solid rgba(34, 34, 34, .15)
        &:first-child {
          border-left none
        }
      }
      & tr th {
        background-color rgba(34, 34, 34, .05)
        font-weight 500
      }
      & tr:last-child td {
        border-bottom none
      }
      & tbody tr {
        &:nth-child(2n) {
          background-color rgba(34, 34, 34, .05)
        }
      }
    }
    & .api {
      position relative
      margin-top 15px
      line-height 40px
      padding-left 100px
      font-weight 500
      border 1px solid rgba(0, 108, 180, .2)
      background-color rgba(0, 108, 180, .1)
      &:before {
        position absolute
        content attr(data-method)
        width 80px
        left -1px
        top -1px
        text-align center
        line-height inherit
        color #fff
        border 1px solid #006CB4
        background-color #006CB4
      }
    }
    & .json {
      padding 15px 20px
      background-color rgba(34, 34, 34, .05)
    }
  }
}