@import "common.css";
h3 {
  text-align: center;
  padding: 30px 0;
  width: 70%;
  border-bottom: 1px solid #9b9b9b;
  margin: 0 auto;
}
h5 {
  display: inline;
  opacity: 0.8;
  font-weight: 400;
}
.menu {
  width: 70%;
  margin: 0 auto;
  line-height: 35px;
  padding-top: 10px;
}
