@import "common.css";
h2 {
  text-align: center;
  padding: 30px 0;
}
.shadow {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  background-image: url("../img/test-img.png");
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.shadow img {
  width: 100%;
}
.shadow-qu:after,
.shadow-qu:before {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  bottom: 0;
  z-index: -1;
  -ms-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  border-radius: 500px/15px;
}
.shadow-qiao:after {
  content: '';
  position: absolute;
  width: 460px;
  height: 260px;
  left: 28px;
  bottom: 8px;
  z-index: -1;
  -ms-box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
  box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
  -ms-transform: skew(-7deg) rotate(-2deg);
  -webkit-transform: skew(-7deg) rotate(-2deg);
  -moz-transform: skew(-7deg) rotate(-2deg);
  transform: skew(-7deg) rotate(-2deg);
}
.shadow-qiao {
  margin-bottom: 200px;
}
.shadow-qiao:before {
  content: '';
  position: absolute;
  width: 460px;
  height: 260px;
  left: 12px;
  bottom: 8px;
  z-index: -1;
  -ms-box-shadow: -2px 5px 8px rgba(0,0,0,0.6);
  -webkit-box-shadow: -2px 5px 8px rgba(0,0,0,0.6);
  -moz-box-shadow: -2px 5px 8px rgba(0,0,0,0.6);
  box-shadow: -2px 5px 8px rgba(0,0,0,0.6);
  -ms-transform: skew(7deg) rotate(2deg);
  -webkit-transform: skew(7deg) rotate(2deg);
  -moz-transform: skew(7deg) rotate(2deg);
  transform: skew(7deg) rotate(2deg);
}
