//--基本颜色
$base-color = #333;
//--基础样式
$base-font-family = "PingFang SC", "微软雅黑";

//--前缀
prefix(prop, args) {
  -ms-{prop} args
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
}

//--通用函数
b-box-shadow() {
  prefix('box-shadow', arguments);
}

b-border-radius() {
  prefix('border-radius', arguments);
}

b-box-sizing() {
  prefix('box-sizing', arguments);
}

b-transform() {
  prefix('transform', arguments);
}

b-transition() {
  prefix('transition', arguments);
}

b-word-hidden() {
  overflow hidden;
  text-overflow ellipsis;
  white-space nowrap;
}

@import "common.css";
h2{
  text-align center;
  padding 30px 0;
}
.shadow{
  position relative;
  margin 0 auto;
  width 500px;
  height 300px;
  background-image url("../img/test-img.png");
  box-shadow 0 2px 4px rgba(0,0,0,.3);
  & img{
    width 100%;
  }
}
.shadow-qu:after, .shadow-qu:before{
  content '';
  position absolute;
  left 10px;
  right 10px;
  top 50%;
  bottom 0;
  z-index -1;
  b-box-shadow(0 0 20px rgba(0,0,0,.9));
  border-radius 500px/15px;
}
.shadow-qiao:after{
  content '';
  position absolute;
  width 460px;
  height 260px;
  left 28px;
  bottom 8px;
  z-index -1;
  b-box-shadow(2px 5px 8px rgba(0,0,0,.6));
  b-transform(skew(-7deg) rotate(-2deg))
}
.shadow-qiao{
  margin-bottom 200px;
  &:before{
    content '';
    position absolute;
    width 460px;
    height 260px;
    left 12px;
    bottom 8px;
    z-index -1;
    b-box-shadow(-2px 5px 8px rgba(0,0,0,.6));
    b-transform(skew(7deg) rotate(2deg));
  }
}