@import "common.css";
body {
  overflow: hidden;
}
.container {
  margin-bottom: 0;
}
.nav {
  width: 100%;
  height: 100%;
}
.nav a,
.nav input {
  display: inline-block;
  position: fixed;
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  bottom: 0;
}
.nav input {
  z-index: 2;
  opacity: 0;
}
.nav input:hover + a {
  opacity: 0.5;
  background-color: #363c41;
}
.nav input:checked + a {
  background-color: #363c41;
}
.nav input:checked + a:before {
  display: block;
}
.nav input:checked:hover + a {
  opacity: 1;
  background-color: #363c41;
}
.nav a {
  z-index: 1;
  background-color: #000;
  color: #fff;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #9c9c9c;
}
.nav a:before {
  display: none;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  background-color: #363c41;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav #nav-1,
.nav #nav-1 + a {
  left: 0;
}
.nav #nav-2,
.nav #nav-2 + a {
  left: 20%;
}
.nav #nav-3,
.nav #nav-3 + a {
  left: 40%;
}
.nav #nav-4,
.nav #nav-4 + a {
  left: 60%;
}
.nav #nav-5,
.nav #nav-5 + a {
  left: 80%;
  border-right: none;
}
.nav .content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.nav .content section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.nav .content section .icon {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #c0c0c0;
  left: 50%;
  margin-left: -100px;
  top: 0;
  -ms-transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.nav .content section [data-icon]:after {
  content: attr(data-icon);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  line-height: 200px;
  text-align: center;
  color: #000;
  margin: -100px 0 0 -100px;
  font-family: raphaelicons;
  -ms-transform: rotate(-45deg) translateY(25%);
  -webkit-transform: rotate(-45deg) translateY(25%);
  -moz-transform: rotate(-45deg) translateY(25%);
  transform: rotate(-45deg) translateY(25%);
}
.nav .content section h2 {
  position: absolute;
  width: 100%;
  top: 200px;
  font-size: 40px;
}
.nav .content section p {
  position: absolute;
  width: 100%;
  top: 280px;
  font-size: 20px;
}
.nav .content section:nth-child(2) {
  background-color: #c0c0c0;
}
.nav .content section:nth-child(2) .icon {
  background-color: #fff;
}
.nav .content section:nth-child(4) {
  background-color: #c0c0c0;
}
.nav .content section:nth-child(4) .icon {
  background-color: #fff;
}
.nav #nav-1:checked ~ .content {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.nav #nav-1:checked ~ .content #content-1 h2 {
  -ms-animation: moveDown 0.6s ease-in-out 0.4s;
  -webkit-animation: moveDown 0.6s ease-in-out 0.4s;
  -moz-animation: moveDown 0.6s ease-in-out 0.4s;
  animation: moveDown 0.6s ease-in-out 0.4s;
}
.nav #nav-1:checked ~ .content #content-1 p {
  -ms-animation: moveUp 0.4s ease-in-out 0.2s;
  -webkit-animation: moveUp 0.4s ease-in-out 0.2s;
  -moz-animation: moveUp 0.4s ease-in-out 0.2s;
  animation: moveUp 0.4s ease-in-out 0.2s;
}
.nav #nav-2:checked ~ .content {
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
.nav #nav-2:checked ~ .content #content-2 h2 {
  -ms-animation: moveDown 0.6s ease-in-out 0.4s;
  -webkit-animation: moveDown 0.6s ease-in-out 0.4s;
  -moz-animation: moveDown 0.6s ease-in-out 0.4s;
  animation: moveDown 0.6s ease-in-out 0.4s;
}
.nav #nav-2:checked ~ .content #content-2 p {
  -ms-animation: moveUp 0.4s ease-in-out 0.4s;
  -webkit-animation: moveUp 0.4s ease-in-out 0.4s;
  -moz-animation: moveUp 0.4s ease-in-out 0.4s;
  animation: moveUp 0.4s ease-in-out 0.4s;
}
.nav #nav-3:checked ~ .content {
  -ms-transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}
.nav #nav-3:checked ~ .content #content-3 h2 {
  -ms-animation: moveDown 0.6s ease-in-out 0.4s;
  -webkit-animation: moveDown 0.6s ease-in-out 0.4s;
  -moz-animation: moveDown 0.6s ease-in-out 0.4s;
  animation: moveDown 0.6s ease-in-out 0.4s;
}
.nav #nav-3:checked ~ .content #content-3 p {
  -ms-animation: moveUp 0.4s ease-in-out 0.4s;
  -webkit-animation: moveUp 0.4s ease-in-out 0.4s;
  -moz-animation: moveUp 0.4s ease-in-out 0.4s;
  animation: moveUp 0.4s ease-in-out 0.4s;
}
.nav #nav-4:checked ~ .content {
  -ms-transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}
.nav #nav-4:checked ~ .content #content-4 h2 {
  -ms-animation: moveDown 0.6s ease-in-out 0.4s;
  -webkit-animation: moveDown 0.6s ease-in-out 0.4s;
  -moz-animation: moveDown 0.6s ease-in-out 0.4s;
  animation: moveDown 0.6s ease-in-out 0.4s;
}
.nav #nav-4:checked ~ .content #content-4 p {
  -ms-animation: moveUp 0.4s ease-in-out 0.4s;
  -webkit-animation: moveUp 0.4s ease-in-out 0.4s;
  -moz-animation: moveUp 0.4s ease-in-out 0.4s;
  animation: moveUp 0.4s ease-in-out 0.4s;
}
.nav #nav-5:checked ~ .content {
  -ms-transform: translateY(-400%);
  -webkit-transform: translateY(-400%);
  -moz-transform: translateY(-400%);
  transform: translateY(-400%);
}
.nav #nav-5:checked ~ .content #content-5 h2 {
  -ms-animation: moveDown 0.6s ease-in-out 0.4s;
  -webkit-animation: moveDown 0.6s ease-in-out 0.4s;
  -moz-animation: moveDown 0.6s ease-in-out 0.4s;
  animation: moveDown 0.6s ease-in-out 0.4s;
}
.nav #nav-5:checked ~ .content #content-5 p {
  -ms-animation: moveUp 0.4s ease-in-out 0.4s;
  -webkit-animation: moveUp 0.4s ease-in-out 0.4s;
  -moz-animation: moveUp 0.4s ease-in-out 0.4s;
  animation: moveUp 0.4s ease-in-out 0.4s;
}
@-moz-keyframes moveDown {
  from {
    -ms-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes moveDown {
  from {
    -ms-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes moveDown {
  from {
    -ms-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    -ms-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes moveUp {
  from {
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes moveUp {
  from {
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes moveUp {
  from {
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUp {
  from {
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
