$transform() {
  $prefix('transform', arguments);
}

$transform-origin() {
  $prefix('transform-origin', arguments);
}

$transition() {
  $prefix('transition', arguments);
}

$animation() {
  $prefix('animation', arguments);
}
